.container{
    position: relative;
    top: 0px;
    left: 0px;
}
.input{
    padding-right: 30px;
    border: 1px solid black;
    border-color: black;
}
.input:focus {
    border-color: blueviolet;
}
.clear{
    width: 15px;
    position: absolute;
    top: 7px;
    right: 6px;
    color: gray;
    opacity: .4;
    cursor: pointer;
}